
@model List<Trainer>
@{
    int counter = 0;
}
<div class="container">
    <div style="display:flex  justify-content-between align-items-center">
        <h1>Trainer:</h1>
        <a asp-action="create" asp-controller="trainer" class="btn btn-primary">Create</a>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">No</th>
                <th scope="col">Name</th>
               
                <th scope="col">Image</th>


                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var tm in Model)

            {
                counter++;
                <tr>
                    <th scope="row">@counter</th>
                    <td>@tm.Name</td>
                   
                    <td style="max-width:100px"><img src="~/uploads/trainers/@tm.ImageUrl" /></td>
                    <td>
                        <a asp-action="update" asp-controller="trainer" asp-route-id="@tm.Id" class="btn btn-success">update</a>
                        <a asp-action="delete" asp-controller="trainer" class="btn btn-danger">delete</a>
                    </td>

                </tr>
            }


        </tbody>
    </table>
</div>
